<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Store</title>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet" />
    <link href="http://localhost:3000/page.css" rel="stylesheet" />
  </head>
  <body>
    <navigation-menu>
      <esi:include src="http://localhost:3014/{{ locale.toLowerCase() }}/menu" />
    </navigation-menu>
    {% block body %}{% endblock %}
    {% if NODE_ENV === 'development' %}
      <script src="https://unpkg.com/react@16.8.3/umd/react.development.js" integrity="sha256-PRLI1KjEBh6B5WrJgaEcRgTauEgPvE1KfIqtmgpqLIM=" crossorigin></script>
      <script src="https://unpkg.com/react-dom@16.8.3/umd/react-dom.development.js" integrity="sha256-xcfVqBZ1ockRUIPByuWyJhVhN2nXNVjEAz88kzLWNfg=" crossorigin></script>
    {% else %}
      <script src="https://unpkg.com/react@16.8.3/umd/react.production.min.js" integrity="sha256-b1J93otO3J00cQL8tB4X0mzwCv9ydpPqkUD3/CopiEI=" crossorigin></script>
      <script src="https://unpkg.com/react-dom@16.8.3/umd/react-dom.production.min.js" integrity="sha256-B/7ihBNROzcdoRkl1NlKzGvjZpQpl4StUbqK8sUZxbE=" crossorigin></script>
    {% endif %}
    <script src="http://localhost:3000/polyfill/document-register-element.min.js"></script>
    <script src="http://localhost:3014/bundle.js" async></script>
    <script src="http://localhost:3011/bundle.js" async></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
