{% extends "../layout.njk" %}

{% block body %}
  <catalog-list category="{{ category }}">
    <esi:include src="http://localhost:3015/{{ locale.toLowerCase() }}/list?category={{ category }}" />
  </catalog-list>
{% endblock %}

{% block scripts %}
  <script src="http://localhost:3015/bundle.js" async></script>
{% endblock %}
