{% extends "../layout.njk" %}

{% block body %}
  <home-releases>
    <esi:include src="http://localhost:3013/{{ locale.toLowerCase() }}/releases" />
  </home-releases>
{% endblock %}

{% block scripts %}
  <script src="http://localhost:3013/bundle.js" async></script>
{% endblock %}
