{% extends "../layout.njk" %}

{% block body %}
  <product-details sku="{{ sku }}">
    <esi:include src="http://localhost:3010/{{ locale.toLowerCase() }}/details?sku={{ sku }}" />
  </product-details>
{% endblock %}

{% block scripts %}
  <script src="http://localhost:3010/bundle.js" async></script>
  <script src="http://localhost:3012/bundle.js" async></script>
{% endblock %}
